@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-slate-100 font-mono;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-surface;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded;
}
